# ========================

# SERVER CONFIG

# ========================

PORT=3000

# ========================

# DATABASE (MongoDB Atlas)

# ========================

MONGODB_URI=mongodb+srv://82002shiv_db_user:T9OWunbU3QjL6LIm@surveypanelgo.4xmh3fj.mongodb.net/surveydb?retryWrites=true&w=majority

# ========================

# AUTH (JWT)

# ========================

JWT_SECRET=supersecretkey123456789

# ========================

# ADMIN DEFAULT LOGIN

# (used only if you auto-create admin)

# ========================

ADMIN_EMAIL=[admin@surveypanelgo.com](mailto:admin@surveypanelgo.com)
ADMIN_PASSWORD=123456
ADMIN_NAME=Administrator
